apiVersion: apps/v1
kind: Deployment
metadata:
  name: faceit-api
  namespace: faceit-prod
spec:
  template:
    spec:
      containers:
        - name: api
          resources:
            requests:
              memory: '256Mi'
              cpu: '100m'
            limits:
              memory: '768Mi'
              cpu: '300m'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: faceit-web
  namespace: faceit-prod
spec:
  template:
    spec:
      containers:
        - name: web
          resources:
            requests:
              memory: '256Mi'
              cpu: '50m'
            limits:
              memory: '512Mi'
              cpu: '150m'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: faceit-celery-worker
  namespace: faceit-prod
spec:
  template:
    spec:
      containers:
        - name: celery-worker
          resources:
            requests:
              memory: '256Mi'
              cpu: '100m'
            limits:
              memory: '768Mi'
              cpu: '300m'

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: faceit-postgres
  namespace: faceit-prod
spec:
  template:
    spec:
      containers:
        - name: postgres
          resources:
            requests:
              memory: '512Mi'
              cpu: '250m'
            limits:
              memory: '1Gi'
              cpu: '500m'

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: faceit-redis
  namespace: faceit-prod
spec:
  template:
    spec:
      containers:
        - name: redis
          resources:
            requests:
              memory: '256Mi'
              cpu: '100m'
            limits:
              memory: '512Mi'
              cpu: '200m'
